
  <div class="row" style="margin: 0px;">
    <h2>Phonebook</h2>
    <p>All phone numbers in your book</p>

    <br>

    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Link</th>
      </tr>

      <tr *ngFor="let ph of phone_numbers">
        <td>{{ph.name}}</td>
        <td>{{ph.phonenumber}}</td>
        <td>{{ph.address}}</td>
        <td>
          <div *ngIf="ph.link != ''">
            <a href="{{ph.link}}" target="_blank">{{ph.name}}'s link</a>
          </div>
        </td>
      </tr>

    </table>
  </div>

  <br>

  <div class="row form-group" style="margin: 0px;">
    <button type="button" class="btn btn-post pull-left btn-default" data-toggle="collapse" data-target="#addnumber" name="" style="width: 10%">Add</button>
  </div>

  <div id="addnumber" class="row collapse" style="margin: 0px;">
    <br>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-addnumber">
      <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="name">
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-addnumber">
      <input type="text" class="form-control" name="phonenumber" [(ngModel)]="phonenumber" placeholder="phone number">
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-addnumber">
      <input type="text" class="form-control" name="address" [(ngModel)]="address" placeholder="address">
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-addnumber">
      <input type="text" class="form-control" name="link" [(ngModel)]="link" placeholder="link">
    </div>
    <button type="button" class="btn btn-post pull-left btn-default" data-toggle="collapse" data-target="#addnumber" style="margin-top: 5px" name="" (click)="add_number()">Confirm</button>
  </div>
