<!--The whole content below can be removed with the new code.-->

    <!-- navigation bar -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <ul class="nav nav-tab navbar-left navbar-fixed-top">

        <h2 style="text-align: center; color: gray">Diary</h2>

        <li><a routerLink="main">Timeline</a></li>
        <li><a routerLink="profile">Profile</a></li>
        <li><a routerLink="phonebook">Phonebook</a></li>

      </ul>
    </div>

    <!-- content component -->
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

      <router-outlet></router-outlet>

    </div>
