
  <div class="row" style="margin: 0px;">
    <h2>Your Profile</h2>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding-left: 0px;">
      <img src="{{profile_detail.image}}" alt="profile" style="width: 100%; min-width: 100px">
    </div>
    <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10" style="padding-left: 0px;">
      <h2>{{profile_detail.name}}</h2>
    </div>
    <div>
      <p>{{profile_detail.message}}</p>
    </div>
  </div>

  <br>

  <div class="row form-group" style="margin: 0px;">
    <button type="button" 
    class="btn btn-post pull-left btn-default" 
    name="" 
    style="width: 10%"
    data-toggle="collapse" 
    data-target="#edit">Edit</button>
  </div>

  <div id="edit" class="row form-group collapse" style="margin: 0px;">
    <br>
    <input type="text" 
    class="form-control" 
    id="image" 
    placeholder="enter your image name (your image must be in assets cuz the dev doesn't know how to make an upload box)" 
    [(ngModel)]="image">
    <br>
    <input type="text" 
    class="form-control" 
    id="name" 
    placeholder="enter your new name" 
    [(ngModel)]="name">
    <br>
    <textarea
    class="form-control" 
    style="height: 200px"
    row="5"
    id="message" 
    placeholder="enter your new message" 
    [(ngModel)]="message"></textarea>
    <br>
    <button type="button" 
    class="btn btn-post pull-left btn-default" 
    name="" 
    style="width: 10%"
    data-toggle="collapse" 
    data-target="#edit"
    (click)="edit_profile()">Confirm</button>
  </div>

  <br>
