
  <div class="row" style="margin: 0px;">
    <h2>What's new</h2>
    <form class="" action="" method="post">
      <div class="form-group">
        <textarea class="form-control" rows="5" name="message" placeholder="What are you thinking?" [(ngModel)]="message"></textarea>
      </div>
      <div class="form-group">
        <button type="button" 
        class="btn btn-post pull-left btn-default" 
        data-toggle="collapse" 
        data-target="#upload" 
        name="">Upload</button>
        <button type="button" 
        class="btn btn-post pull-right btn-default" 
        name="" 
        (click)="write()">Write</button>
      </div>
    </form>
  </div>

  <div id="upload" class="row form-group collapse" style="margin: 0px;">
    <br>
    <input type="text" 
    class="form-control" 
    name="select_img" 
    placeholder="enter your image name (your image must be in assets cuz the dev doesn't know how to make an upload box)" 
    [(ngModel)]="select_img">
  </div>

  <br>
  <div class="row" style="margin: 0px;">
    <div class="" *ngFor="let tl of timeline">

        <div *ngIf="tl.minute < 10;else normal_time">
          <p>{{tl.date}}/{{tl.month}}/{{tl.year}} - {{tl.hour}}:0{{tl.minute}}</p>
        </div>
        <ng-template #normal_time>
          <p>{{tl.date}}/{{tl.month}}/{{tl.year}} - {{tl.hour}}:{{tl.minute}}</p>
        </ng-template>
        <div *ngIf="tl.image">
          <img src="{{tl.image}}" alt="" style="min-width: 100px; max-width: 80%">
          <br>
        </div>
        <div *ngFor="let msg of tl.message">
          <p>{{msg}}</p>
        </div>
        <hr>

    </div>
  </div>
